* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.header-tag {
	font-size: 32px;
	color: #222;
	text-transform: capitalize;
}

.header-desc {
	font-weight: lighter;
	color: #999;
	text-transform: capitalize;
}

.home {
	background-image: url(../Image/main_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	margin-top: -56px;
}

.home-desc {
	position: absolute;
	margin-top: 200px;
}

.home-desc h2 {
	font-size: 64px;
	font-weight: bold;
	color: #fff;
}

.home-desc p {
	font-size: 14px;
	font-weight: lighter;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 30px;
}

/*services*/
.services {
	margin-top: 100px;
	margin-bottom: 100px;
	
}

.services-card {
	padding: 20px;
	margin-bottom: 20px;
}

.services-card:hover {
	background-color: #efefef;
	transform: translateY(-5px);
	transition: .5s;
}

.services-img {
	width: 80px;
	height: 80px;
	margin: 5px auto;
}

.services-img img {
	width: 100%;
}

/*destination*/

.destination-card {
	margin-bottom: 20px;
}

.destination-card:hover {
	box-shadow: 0 0 10px 3px rgba(0,0,0,.3);
	transform: translateY(-5px);
	transition: .5s;
}

.destination-img img {
	width: 100%;
}

.destination-info {
	padding: 10px;
}

.info-desc ul li {
	color: #999;
	margin: 5px 0;
}



/*testi*/

.testimonials {
	margin-top: 100px;
}

.testimonial-card {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
		
.testimonial-card p {
	font-size: 17px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;
}

.testimonial-id h4 {
	font-size: 16px;
	font-weight: medium;
}

.testimonial-id p {
	font-size: 14px;
	font-weight: lighter;
	color: #999;
}
		
.item {
	text-align: center;
	padding: 50px;
	margin-bottom:80px;
	opacity: .2;
	transform: scale3d(0.8, 0.8, 1);
	transition: all 0.3s ease-in-out;
}

.owl-item.active.center .item {
	opacity: 1;
	transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	max-width: 90px;
    margin: 0 auto 17px;
    border-radius: 50%;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
	background: #3190E7;
	transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
	transform: translateY(-80px);
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
	background: #3190E7;
	display: inline-block;
	height: 20px;
	border-radius: 50%;
	margin: 0 2px 5px;
	transform: translate3d(0px, -50%, 0px) scale(0.3);
	transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
	width: 20px;
}
